@font-face{
    font-family: teko;
    src: url(./Teko-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: teko;

}

*::selection {
    background-color: var(--primary2-color);
    color: var(--Page-color);
  }


:root {
    --Page-color: #F6F6F6;
    --font-color: #272727;
    --second-font-color: #535353;
    --primary-color: #060606;
    --primary2-color: #000000;
  }


#trailer{
    height: 20px;
    width: 20px;
    background-color: var(--Page-color );
    border-radius: 20px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000 ;
    
    pointer-events: none;
    /* opacity: 0; */
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
    mix-blend-mode:difference;
}





/* .trailer-icon{
    position: absolute;
} */

/* body:hover > .trailer{
    opacity: 1;
} */
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--Page-color);

}


.main{
    z-index: 10;
    position: relative;overflow: hidden;
    /* background-color: var(--Page-color); */
}


.page2{
    height: 100vh;
    width: 100%;
}

.page3{
    height:50vh;
    width: 100vw;
    background-color: var(--Page-color);
    /* background-color:gray; */
    color: var(--second-font-color);
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    font-size: 2.2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.page3 .heading{
    position: absolute;
   margin-top: 22vw;
    
}


.heading{
    width:fit-content;
    line-height: 0.8;
}

.rw {
    font-size: 6vw;
    font-weight: 600;
    color: var(--font-color);
    /* background-color: blanchedalmond; */
    position: relative;
    overflow: hidden;
    width: fit-content;
}
.rw2 {
    font-size: 6vw;
    font-weight: 600;
    color: var(--font-color);
    /* background-color: rgb(90, 90, 90); */
    position: relative;
    overflow: hidden;
    width: fit-content;
    margin-left: 27vw;
    
    
}

.line{
    position: absolute;
    height: .5vh;
    width: 60%;
    background-color: var(--font-color);
    margin-top: 26vw;
    right: 2%;
    padding-right: 2vw;
}

.rw .rw_elem{
    transform: translateY(110%);
}

.rw2 .rw_elem{
    transform: translateY(110%);
}

.page3 .p2{
    padding-top: 2vw;
    /* display: flex; */
    text-align: right;
}
.p1{
    height: fit-content;
    width: fit-content;
    
}

.p2{
    height: fit-content;
    width: fit-content;
}

.page3 .p1 h4{
    color: var(--font-color);
   
}



.about{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Gilroy-Regular';
   
}

.about h4{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 2vw;
    font-weight: 200;
    padding: .5vw 3.5vw;
    border: 1px solid rgba(0, 0, 0, 0.678);
    border-radius: 3vw;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;

}

.about h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 100%;
    transition: all ease 0.3s;
}

.about h4:hover::after{
    bottom: 0%;
    border-radius: 0;
}

.about h4:hover a{
    color: white;
}

.about h4 a{
    
    color: rgb(20, 20, 20);
    text-decoration: none;
    z-index: 9;
}



.landingpage{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
}




.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;  
    /* bottom: 0; */
    /* z-index: 9; */
}

.page1 .bg{
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
    position: absolute;
}

.page1 .portfolio_pic{
   height: 100%;
  
}

.portfolio_pic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

/* .portfolio_pic:hover{
   opacity: .2;
} */

.nav_content{   
    width: 100%;
    position: relative;
    color: #000000;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    
}

.nav-part2{
    display: flex;
    gap: 2vw;
}

.nav-part1 h4{
    /* font-size: 3vw; */
    font-weight: 300;
}
.nav-part2 h4{
    /* font-size: 3vw; */
    font-weight: 300;
}


.nav_content .nav .nav-part2 a{
    text-decoration: none;
    color: var(--Page-color);
    
}

.p1_h1{
    position: relative;
    color: var(--Page-color);
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
    
}

/* .p1_h1 h1{ 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */


.p1_h1 h1{
    line-height: 8vw;
}


.bounding{
    width: fit-content;
    /* background-color: black; */
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    overflow: hidden;
}

.boundingElem{
    width: fit-content;
    /* background-color: #000000; */
}

.Pboundingall1 {
    overflow: hidden;
}

.Pboundingall {
    overflow: hidden;
    position: relative;
}

.Pbounding2{
    margin-top: -3.5vw;
}

.Pbounding2{
    margin-top: -3.5vw;
}
.Pbounding-m{
    margin-top: -3.5vw;
}

.p2 .Pboundingall .Pbounding{
    transform: translateY(380%);
}

.Pbounding{
    width: fit-content;
    /* background-color: #000000; */
}


.Pboundingh{
    width: fit-content;
    /* background-color: #000000; */
}

.p1 .Pboundingall1 .Pboundingh{
    transform: translateY(400%);
}

.p1 .Pboundingall1 .Pbounding1{
    transform: translateY(300%);
}

.Pbounding1{
    width: fit-content;
    /* background-color: #000000; */
}

.Pboundingall1 .Pbounding1{
    transform: translateY(110%);
}

.bounding h1{
    font-size: 10vw;
}


.bounding2{
    width: fit-content;
    /* background-color: black; */
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    overflow: hidden;
 
}

.bounding2 h1{
    font-size: 10vw;
}

.bounding .boundingElem{
    transform: translateY(110%);
}

.bounding2 .boundingElem{
    transform: translateY(110%);
}


.m-box1{
    height: 35vh;
    width: 100%;
    margin-top: 40vw;
    margin-bottom: 20vw;
    margin-left: 2vw;
    display: flex;    
}
.m-box2{
    height: 35vh;
    width: 100%;
    margin-top: 20vw;
    margin-bottom: 20vw;
    padding-right: 2vw;
    display: flex; 
    justify-content: end;   
}

.m-box3{
    height: 35vh;
    width: 100%;
    margin-top: 20vw;
    margin-bottom: 20vw;
    margin-left: 2vw;
    display: flex;    
}
.m-box4{
    height: 35vh;
    width: 100%;
    margin-top: 20vw;
    margin-bottom: 23vw;
    padding-right: 2vw;
    display: flex; 
    justify-content: end;     
}

.box1{
   
    height: 35vw;
    width: 45vw;
    /* background-color: #000000; */
    margin-top: 20vw;
    margin-bottom: 3vw;
    padding-left: 2vw;
    display: flex; 
    justify-content: end;  
    flex-direction: column;
}

.box2{
   
    height: 35vw;
    width: 45vw;
    /* background-color: #000000; */
    margin-top: -8vw;
    margin-bottom: 3vw;
    padding-right: 2vw;
    display: flex; 
    justify-content: end;  
    flex-direction: column;
    margin-left: 55vw;

}

.box3{
  
    height: 35vw;
    width: 45vw;
    /* background-color: #000000; */
    margin-top: -8vw;
    margin-bottom: 3vw;
    padding-left: 2vw;
    display: flex; 
    justify-content: end;  
    flex-direction: column;

}

.box4{
   
    height: 35vw;
    width: 45vw;
    /* background-color: #000000; */
    margin-top: -8vw;
    margin-bottom: 3vw;
    padding-right: 2vw;
    display: flex; 
    justify-content: end;  
    flex-direction: column;
    margin-left: 55vw;
}

.box img{
    height: 100%;
    width: 100%;
    background-position: center;
    object-fit: cover;
    /* display: none; */
    
    
}

/* .page4{
    height: 150vh;
    width: 100%;
    background-color: var(--Page-color);
    /* background-color: gray; 
    color: var(--font-color);
    overflow: hidden;
    position: relative;
    
} */




.elem{
    height: 14vw;
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    padding-right: 10vw;
    border-bottom: 1px solid var(--font-color);
    font-size: 4vw;
    font-weight: 500; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.item{
    width: 19vw;
    height: 9vw;
    background-color: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.item img{
    height: 100%;
    width: 100%;
    background-position: center;
    object-fit: cover;
    z-index: 9;
}

.item{
    width: 0;
}

.elem:hover .item{
    width: 19vw;
    height:  9vw;;
    transition: .5s;
}

.elem h1{
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0%;
    top: -100%;
    /* z-index: 99; */ 
}

.elem:hover .overlay{
    top: 0%;
    transition: .5s;
}
.elem:hover{
    color: var(--Page-color);
    transition: .5s;
}

.fixed-image{
    height: 20vw;
    width:  30vw;
    background-color: orangered;
    border-radius: .5vw;
    position: fixed;
    left: 60%;
    top: 25%;
    background-size: cover;
    background-position: center;
    z-index: 99999;
    display: none;
}

/* .page5{
    height: 100vh;
    width: 100%;
    background-color:var(--Page-color);
} */

.more-works{
    border-radius: 30px;
    border: none;
    font-size: 2.7vw;
    /* background-color: #d3d3d3; */
    color: var(--font-color);
    margin-top: 1vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 43%;
    margin-top: 2vw;
    
}

.more-works{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Gilroy-Regular';
   
}

.more-works h4{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 2vw;
    font-weight: 200;
    padding: .5vw 3.5vw;
    border: 1px solid rgba(0, 0, 0, 0.678);
    border-radius: 3vw;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;

}

.more-works h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 100%;
    transition: all ease 0.3s;
}

.more-works h4:hover::after{
    bottom: 0%;
    border-radius: 0;
}

.more-works h4:hover a{
    color: white;
}

.more-works h4 a{
    
    color: rgb(20, 20, 20);
    text-decoration: none;
    z-index: 9;
}


.page4 .more-works{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review{
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    color: var(--Page-color);
    padding-top: 15vw;
    margin-bottom: 10vw;
}

.rv-box1{
    height: 19vw;
    width: 27vw;
    border-radius: .7vw;
    background-color: #191919;
    padding: 2vw
}
.rv-box2{
    height:  19vw;
    width: 27vw;
    border-radius: .7vw;
    background-color:  #191919;
    padding: 2vw
}
.rv-box3{
    height: 19vw;
    width: 27vw;
    border-radius: .7vw;
    background-color: #191919;
    padding: 2vw
}

.min-circle{
    height: 4vw;
    width:  4vw;
    background-color: var(--Page-color);
    border-radius: 50%;
}

.review .rv-box2 p{
    padding: 2vw;
}

.page6{
    height: 40vh;
    width: 300%;
    background-color: var(--Page-color);
    display: flex;
    display: nowrap;
    gap: 2vw;
    position: relative;
    left: -40%;

}


.pic1{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic2{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic3{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic4{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic5{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic6{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic7{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic8{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic1 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 1.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.pic2 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 5.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.pic3 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.pic4 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 5.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.pic5 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.pic6 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.pic7 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.pic8 .center{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.page7{
    height: 70vh;
    width: 300%;
    background-color: var(--Page-color);
    display: flex;
    display: nowrap;
    gap: 2vw;
    padding-top: 2vw;
    left: -120%;
    position: relative;
}

.ps1{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps2{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps3{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps4{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps5{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps6{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps7{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps8{
    height: 40vh;
    width: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ps1 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 1.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.ps2 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 4.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.ps3 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.ps4 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 4.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
 
.ps5 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 4.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
 
.ps6 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 4.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.ps7 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 4.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.ps8 .center2{
    height: 70%;
    width: 80%;
    background-color: rgb(98, 100, 102);
    background-image: url(work\ 4.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.page8{
    height: 100vh;
    width: 100%;
    background-color: var(--primary2-color);
    
}

.Fbounding{
    color: var(--Page-color);
    display: flex;
    align-items: center;
    text-align: left;
    /* justify-content: center; */
    padding-left: 8vw;
    padding-top: 4vw;
    font-size: 6vw;
    overflow: hidden;
    
}

.FboundingElem{
    width: fit-content;
}

.vector{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vw;
    padding-left: 4vw;

}

.Fline{
    width: 90%;
    height: .1vw;
    background-color: var(--Page-color);
    
}

.page8 .Fline{
    position: relative;
    left: 5%;
    top: 1%;
}

.Fbounding .FboundingElem{
    transform: translateY(100%);
}

.contact-circle{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: var(--Page-color);
    position: relative;
    left: 80%;
    top: -5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--font-color);
    font-size: 2vw;
    
}

.box-email{
    font-size: 2.5vw;
    font-weight: 500;
    height: 4vw;
    width: 20vw;
    color: var(--Page-color);
    border: 1px solid var(--Page-color);
    border-radius:2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    padding-top: 2.2vw;
    padding-bottom: 2.2vw;
    position: relative;
    left: 8%;
    
}
.box-num{
    font-size: 2.5vw;
    font-weight: 500;
    height: 4vw;
    width: 20vw;
    color: var(--Page-color);
    border: 1px solid var(--Page-color);
    border-radius:2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    padding-top: 2.2vw;
    padding-bottom: 2.2vw;
}

.box-num{
    position: relative;
    
    
}

.det{
    display: flex;
    gap: 12vw;
    
}

.bot-nav{
    color: var(--Page-color);
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    position: relative;
    /* top: 10%;
    padding-left: 2vw; */
}

.b-navs{
    display: flex;
    gap: 2vw;
    padding: 2vw;
    padding-left: 9vw;
    padding-top: 4vw;
}

.bot-nav .b-nav-3{
    color: var(--Page-color);
    gap: 2vw;
    position: relative;
    margin-top: 2vw;
    padding: 2vw;
    padding-right: 9vw;
    /* top: 10%;
    left: 58%; */
}



.det-social{
    display: flex;
    gap: 0.8vw;
}

.cbox1{
    display: none;
}
.cbox2{
    display: none;
}
.cbox3{
    display: none;
}



.loader-screen{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    z-index: 999999;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
}


.counter{
    z-index: 999999;
    position: fixed;
    left: 50px;
    bottom: 50px;
    display: flex;
    height: 100px;
    width: 150px;
    font-size: 7vw;
    line-height: 102px;
    clip-path: polygon(0 0,100% 0, 100% 100px, 0 100px);
}

.counter1,
.counter2,
.counter3{
    z-index: 999999;
    position: relative;
    top: -15px;
}

.num1offest1{
    z-index: 999999;
    position: relative;
    right: -25px;
}

.num1offest2{
    z-index: 999999;
    position: relative;
    right: -10px;
}

.loader{
    z-index: 999999;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: var(--font-color);
}

.loader-1{
    z-index: 999999;
    position: relative;
    background-color: var(--Page-color);
    width: 300px;
}



.bar{
    height: 50px;
} 

.det-social2{
    display: none;
}

@media (max-width:1200px) {
    #trailer{
        display: none;
    }
}
@media (max-width:600px) {
    .box1{
        margin-top: 2vw;
    }
    .page3{
        height:40vh;
    }
    .det-social{
        display: none;
    }
    .det-social2{
        display: block;
    }
}
@media (max-width:400px) {
    .box1{
        margin-top: -5vw;
    }
    .box h4{
       font-size: 2.4vw;
    }
    .page3{
        height:35vh;
    }
    .det-social{
        display: none;
    }
    .det-social2{
        display: block;
    }
   
}
@media (max-width:300px) {
    .box1{
        margin-top: -40vw;
    }
    .page3{
        height:30vh;
    }
    .det-social{
        display: none;
    }
    .det-social2{
        display: block;
    }
}
